<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bibles.englishbible.lugandabible">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="bibles.englishbible.lugandabible.NotesActivity"  android:label="All Notes"></activity>
        <activity android:name="bibles.englishbible.lugandabible.NotesViewActivity"  android:label="Notes" />
        <activity android:name="bibles.englishbible.lugandabible.EditNotesActivity" android:label="Update Notes" />
        <activity android:name="bibles.englishbible.lugandabible.AddNotesActivity" android:label="Add Notes"/>
        <activity
            android:name="bibles.englishbible.lugandabible.AudioActivity"
            android:label="@string/audio_activity" />
        <activity android:name="bibles.englishbible.lugandabible.SettingsActivity" />
        <activity android:name="bibles.englishbible.lugandabible.BookmarkActivity" />
        <activity
            android:name="bibles.englishbible.lugandabible.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="bibles.englishbible.lugandabible.PraisesActivity" />
        <activity android:name="bibles.englishbible.lugandabible.LyricsActivity" />
        <activity android:name="bibles.englishbible.lugandabible.SongsActivity" />
    </application>

</manifest>